

* {
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont;
}

body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
  color: white;
}

.background {
  position: fixed;
  inset: 0;
  background: url("assets/background.png") center / cover no-repeat;
  filter: blur(0px) brightness(0.7);
  transform: scale(1.1);
}

.background.step2 {
    animation: bgBlurPulse 0.9s ease-in-out;
    background: url("assets/background1.png") center / cover no-repeat;
}

.code-form.inc {
    animation: Inc 0.5s ease forwards;
}

@keyframes Inc {
    0% {
        transform: TranslateX(-5px);
    }

    30% {
        transform: TranslateX(5px);
    }

    60% {
        transform: TranslateX(-10px);
    }

    90% {
        transform: TranslateX(10px);
    }

    100% {
        transform: TranslateX(0);
    }
}

@keyframes bgBlurPulse {
  0% {
    filter: blur(0px) brightness(0.7);
  }
  50% {
    filter: blur(100px) brightness(0.7);
  }
  100% {
    filter: blur(0px) brightness(0.7);
  }
}


.brand {
  position: absolute;
  top: 60px;
  left: 375px;
  opacity: 0;
  animation: logoSlide 1.5s ease forwards;
}

.brand img {
  width: 450px;
}

.spec {
  position: absolute;
  top: 60px;
  right: 250px;
  opacity: 0;
  animation: specSlide 1.5s ease forwards;
  animation-delay: 1.5s;
}

.spec img {
  width: 700px;
}



.side-panel {
  position: absolute;
  right: 350px;
  top: 50%;
  transform: translateY(-50%);
  width: 360px;
  padding: 26px;
  background: rgba(255,255,255,0.14);
  backdrop-filter: blur(22px);
  border-radius: 30px;
  box-shadow: 0 25px 70px rgba(0,0,0,0.45);
}

.side-panel.move-left {
  animation: slideLeft 0.8s ease forwards;
}


.screen {
  display: none;
}

.screen.active {
  display: block;
}


h2 {
  margin: 0 0 6px;
  font-size: 22px;
}

.field {
  display: flex;
  align-items: center;
  background: rgba(255,255,255,0.18);
  border-radius: 20px;
  padding: 13px 16px;
  margin-bottom: 16px;
}

.field input {
  flex: 1;
  background: none;
  border: none;
  outline: none;
  color: white;
  font-size: 15px;
  margin-left: 12px;
}

.field input::placeholder {
  color: rgba(255,255,255,0.6);
}

button {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 24px;
  background: white;
  color: black;
  font-size: 16px;
  cursor: pointer;
  margin-top: 8px;
}

button:active {
  transform: scale(0.96);
  opacity: 0.85;
}

.instruction-panel {
  position: absolute;
  top: 50%;
  right: -450px;
  transform: translateY(-50%) translateX(750px);
  width: 360px;
  padding: 20px;
  background: rgba(0,0,0,0.6);
  border-radius: 16px;
  color: #fff;
  font-size: 14px;
  line-height: 1.5;
  opacity: 1;
  display: none;
}

.instruction-panel.show {
  display: block;
  animation: slideLeft 0.8s ease forwards;
}


.instruction-panel h2 {
  margin-top: 0;
  font-size: 18px;
  margin-bottom: 10px;
}

.instruction-panel a {
  text-decoration: none;
  color: #00bfff;
}

@keyframes slideLeft {
  from {
    transform: translateY(-50%) translateX(0);
  }
  to {
    transform: translateY(-50%) translateX(-800px);
  }
}


@keyframes logoSlide {
  from {
    opacity: 0;
    transform: translateX(-500px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes specSlide {
  0% {
    opacity: 0;
    filter: blur(20px) brightness(0.1);
  }
  60% {
    opacity: 1;
    filter: blur(10px) brightness(0.7);
  }
  100% {
    opacity: 1;
    filter: blur(0px) brightness(1);
  }
}
